<launch>
  <arg name="pointcloud_topics" default="[/stereo/points2]"/>

  <!-- Launch cameras and processing -->
  <include file="$(find stereo_demo)/launch/stereo_start.launch" />

  <!-- Launch PX4 and mavros -->
  <include file="$(find stereo_demo)/launch/mavros.launch" />

  <node name="local_planner_node" pkg="local_planner" type="local_planner_node" output="screen" >
    <param name="goal_x_param" value="15" />
    <param name="goal_y_param" value="15"/>
    <param name="goal_z_param" value="4" />
    <rosparam param="pointcloud_topics" subst_value="True">$(arg pointcloud_topics)</rosparam>
  </node>

</launch>

