
<launch>
    <arg name="tgt_system" default="1" />
    <arg name="tgt_component" default="1" />

    <!-- Launch MavROS -->
    
    <node pkg="mavros" type="mavros_node" name="mavros" required="false" clear_params="true" respawn="true" respawn_delay="1" output="screen">
        <param name="fcu_url" value="/dev/ttyACM0:921600" />
        <param name="gcs_url" value="tcp-l://0.0.0.0:5760" />
        <param name="gcs_quiet_mode" value="true"/>
        <param name="conn/timeout" value="8"/>
        <param name="target_system_id" value="1" />
    </node>

</launch>