<?xml version="1.0"?>
<launch>
    
    <node pkg="tf" type="static_transform_publisher" name="tf_base_fcu" args="0 0 0 0 0 0 fcu base_link 100" /> 
    <node pkg="tf" type="static_transform_publisher" name="tf_depth_camera" args="0.085 0 0 -1.5707963 0 -1.5707963 fcu camera_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="map_to_local" args="0.0 0.0 0.0 0.0 0.0 0.0  /map /local_origin  100" />   

</launch>
